.contactbg{

        background-image: url("../../assets/nate-grant-QQ9LainS6tI-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    

}